@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 650px;
  min-height: 500px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  text-align: center;
}
.title {
  font-family: Montserrat-Medium;
  font-size: 38px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
}
.paragraph {
  font-family: Montserrat-Regular;
  color: #626262;
}
