@font-face {
  font-family: Montserrat-Medium;
  src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(fonts/Montserrat-Regular.ttf);
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat-Regular;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  max-height: 1000px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
.title {
  font-family: Montserrat-Medium;
  font-size: calc(2em + 1vmin);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  margin: 10px 0;
}
.paragraph {
  font-size: calc(1.4em + 1vmin);
  color: #626262;
}
.margin-top-176 {
  margin-top: 176;
}
#phone-image {
  width: 300px;
  max-width: 80%;
}
#help-button {
  font-size: calc(1.5em + 1vmin);
  font-family: Montserrat-Medium;
  color: white;
  border-radius: 22px;
  padding: 8px;
  margin: 10px 0;
  background-color: #eb0055;
  border-color: #eb0055;
  border-width: 2px;
  width: 100%;
  max-width: 80%;
}
